body {
  padding: 0;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
}
p, ul {
  font-size: 18px;
}
code {
  font-size: 16px;
}

a {
  size: 1000%;
  color: #ff5858;
}
a:active,
a:visited {
  color: #b43333;
}
a,
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.ll,
.ll:hover,
.ll:focus,
.ll:active,
.ll:visited {
  text-decoration: none;
  color: inherit;
}

.hll,
.hll:visited {
  color: #ff5858;
}
.hll,
.hll:focus,
.hll:active {
  text-decoration: none;
}
.hll:hover {
  text-decoration: underline;
}

.top-bar {
  background-color: rgb(33, 33, 33);
  border: 0 solid #ff5858;
  border-width: 0 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-text {
  margin: 0 auto;
  width: 853px;
  color: rgb(230, 230, 230);
  padding-top: 1px;
  padding-bottom: 12px;
}
.middle {
  width: 853px;
  margin: 0 auto;
}
.post {
  text-align: justify;
  display: inline-block;
  width: 68%;
  margin-right: 3%;
  float: left;
}
.sidebar {
  width: 29%;
  float: right;
}
